<nav ng-controller="HeaderController" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Assignment1</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="user.username">
                    <a href="#/register">Register</a>
                </li>
                <li ng-hide="user.username">
                    <a href="#/login">Login</a>
                </li>
                <li ng-show="user.roles.indexOf('admin')>=0">
                    <a href="#/admin/{{user._id}}">Admin</a>
                </li>
                <li ng-show="user.username">
                    <a href="#/profile/{{user._id}}" ng-click="showUser()">
                        {{user.username}}
                    </a>
                </li>
                <li ng-show="user.username">
                    <a href="#/home" ng-click="logout()">Logout</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>