<nav ng-controller="HeaderController" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Assignment1</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/register">Register</a></li>
                <li><a href="#/login">Login</a></li>
                <li><a href="#/admin">Admin</a></li>
                <li><a href="#/profile">Username</a></li>
                <li><a href="#/home">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>