<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="panel widget light-widget">
        <div class="panel-heading no-title"></div>
        <form class="form-horizontal" action="#" role="form">
            <div class="panel-body">
                <h1>My Projects</h1>
                <ul class="nav nav-tabs">
                    <li><a href="#/project/{{user._id}}">My Projects</a></li>
                    <li><a href="#/details/{{project._id}}">Project Details</a></li>
                    <li class="active"><a href="#/application/{{project._id}}">Job Applications</a></li>
                </ul>

                <div class="tab-content">
                    <div id="forms" class="tab-pane fade in active">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr class="info">
                                <th class="txt-center">
                                    Photo
                                </th>
                                <th class="txt-center" ng-click="sort('name', nameOrder)">
                                    <span class="menu-icon">
                                    <i ng-class="{'fa fa-unsorted': nameOrder==0, 'fa fa-sort-asc':nameOrder==1,
                                    'fa fa-sort-desc':nameOrder==-1}"></i> Username</span>
                                </th>
                                <th class="txt-center" ng-click="sort('started', startedOrder)">
                                     <span class="menu-icon">
                                         <i ng-class="{'fa fa-unsorted': startedOrder==0,
                                         'fa fa-sort-asc':startedOrder==1,
                                         'fa fa-sort-desc':startedOrder==-1}"></i> Member since</span>
                                </th>
                                <th class="txt-center" ng-click="sort('charge', chargeOrder)">
                                    <span class="menu-icon">
                                        <i ng-class="{'fa fa-unsorted': chargeOrder==0,
                                        'fa fa-sort-asc':chargeOrder==1,
                                        'fa fa-sort-desc':chargeOrder==-1}"></i> Charge(USD/hr)</span>
                                </th>
                                <th class="txt-center">
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="currentApp in project.applications">
                                <td align="center">
                                    <a class="rm-ul">
                                        <img ng-hide="currentApp.photo" alt="example image"
                                             class="img-sm" ng-src="{{photo}}">
                                        <img ng-show="currentApp.photo" alt="example image"
                                             class="img-sm" ng-src="{{currentApp.photo}}">
                                    </a>
                                </td>
                                <td align="center">
                                    <a class="rm-ul">{{currentApp.username}}</a>
                                </td>
                                <td align="center">
                                    <a class="rm-ul">{{currentApp.started | date: short}}</a>
                                </td>
                                <td align="center">
                                    <a class="rm-ul">{{currentApp.charge}}</a>
                                </td>
                                <td align="center">
                                    <a class="rm-background">
                                        <i class="fa fa-check fa-3x" ng-click="accept($index)"
                                           title="Select Project" aria-label="Select"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <label ng-show="tips" class="btn-block form-control td-border tips-danger">{{tips}}</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>