<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="panel widget light-widget">
        <div class="panel-heading no-title"></div>
        <form class="form-horizontal" action="#" role="form">
            <div class="panel-body">
                <h1>My Projects</h1>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#/job/{{user._id}}">My Jobs</a></li>
                    <li><a href="#/jobDetails/{{job._id}}" ng-class="linkStyle">Job Details</a></li>
                </ul>

                <div class="tab-content">
                    <div id="forms" class="tab-pane fade in active">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr class="info">
                                <th class="txt-center" ng-click="sort('title', titleOrder)">
                        <span class="menu-icon">
                            <i ng-class="{'fa fa-unsorted': titleOrder==0, 'fa fa-sort-asc':titleOrder==1,
                            'fa fa-sort-desc':titleOrder==-1}"></i> Job Title</span>
                                </th>
                                <th class="txt-center">
                                    Job Status
                                </th>
                                <th class="txt-center" ng-click="sort('started', startedOrder)">
                                     <span class="menu-icon">
                                         <i ng-class="{'fa fa-unsorted': startedOrder==0,
                                         'fa fa-sort-asc':startedOrder==1,
                                         'fa fa-sort-desc':startedOrder==-1}"></i> Started</span>
                                </th>
                                <th class="txt-center" ng-click="sort('deadline', deadlineOrder)">
                                    <span class="menu-icon">
                                        <i ng-class="{'fa fa-unsorted': deadlineOrder==0,
                                        'fa fa-sort-asc':deadlineOrder==1,
                                        'fa fa-sort-desc':deadlineOrder==-1}"></i> Deadline</span>
                                </th>
                                <th class="txt-center">
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="currentJob in myJobs">
                                <td>
                                    <a class="rm-ul">{{currentJob.title}}</a>
                                </td>
                                <td align="center">
                                    <a class="rm-ul">
                                        <span class="label label-info"
                                              ng-show="currentJob.status=='processing'">Processing</span>
                                        <span class="label label-success"
                                              ng-show="currentJob.status=='completed'">Completed</span>
                                        <span class="label label-default"
                                              ng-show="currentJob.status=='failed'">Failed</span>
                                    </a>
                                </td>
                                <td align="center">
                                    <a class="rm-ul">{{currentJob.started | date: short}}</a>
                                </td>
                                <td align="center">
                                    <a class="rm-ul">{{currentJob.deadline | date: short}}</a>
                                </td>
                                <td align="center">
                                    <a class="rm-background">
                                        <i class="fa fa-pencil-square fa-3x" ng-click="viewJob($index)"
                                           title="View Job" aria-label="View"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <label ng-show="tips" class="btn-block form-control td-border tips-danger">{{tips}}</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>