<title ng-model="fieldTitle">Forms</title>

<div ng-model="fieldForm" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Forms: Registration Form</h1>
    <ul class="nav nav-tabs">
        <li><a href="#/forms/{{user._id}}">Forms</a></li>
        <li class="active"><a href="#/fields/{{user._id}}">Fields</a></li>
    </ul>

    <table class="table">
        <tbody>
        <tr>
            <td class="td-border">
                <label for="inputFirstName">First Name:</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
            </td>
            <td class="td-border td-mb">
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-pencil"
                                  title="Edit Field" aria-label="Edit"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-plus"
                                  title="Clone Field" aria-label="Clone"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-remove"
                                  title="Remove Field" aria-label="Remove"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-align-justify"
                                  title="Reorder Field" aria-label="Reorder"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="td-border">
                <label for="inputLastName">Last Name:</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
            </td>
            <td class="td-border td-mb">
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-pencil"
                                  title="Edit Field" aria-label="Edit"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-plus"
                                  title="Clone Field" aria-label="Clone"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-remove"
                                  title="Remove Field" aria-label="Remove"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-align-justify"
                                  title="Reorder Field" aria-label="Reorder"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="td-border">
                <label for="dateOfBirth">Date of Birth:</label>
                <input type="date" class="form-control" id="dateOfBirth" placeholder="mm/dd/yyyy">
            </td>
            <td class="td-border td-mb">
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-pencil"
                                  title="Edit Field" aria-label="Edit"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-plus"
                                  title="Clone Field" aria-label="Clone"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-remove"
                                  title="Remove Field" aria-label="Remove"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-align-justify"
                                  title="Reorder Field" aria-label="Reorder"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="td-border">
                <label for="inputGender">Gender:</label>
                <select id="inputGender" class="form-control" style="overflow-y: hidden;">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </td>
            <td class="td-border td-mb">
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-pencil"
                                  title="Edit Field" aria-label="Edit"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-plus"
                                  title="Clone Field" aria-label="Clone"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-remove"
                                  title="Remove Field" aria-label="Remove"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-align-justify"
                                  title="Reorder Field" aria-label="Reorder"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="td-border">
                <label class="label-pos">Roles:</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="inputRole" id="role1" value="Admin" checked>Admin
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="inputRole" id="role2" value="Student">Student
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="inputRole" id="role3" value="User">User
                    </label>
                </div>
            </td>
            <td class="td-border td-mb">
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-pencil"
                                  title="Edit Field" aria-label="Edit"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-plus"
                                  title="Clone Field" aria-label="Clone"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-remove"
                                  title="Remove Field" aria-label="Remove"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-align-justify"
                                  title="Reorder Field" aria-label="Reorder"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="td-border">
                <label class="label-pos">License Agreement:</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="inputRole" id="license1" value="Yes" checked>Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="inputRole" id="license2" value="No">No
                    </label>
                </div>
            </td>
            <td class="td-border td-mb">
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-pencil"
                                  title="Edit Field" aria-label="Edit"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-plus"
                                  title="Clone Field" aria-label="Clone"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-remove"
                                  title="Remove Field" aria-label="Remove"></span>
                </a>
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-align-justify"
                                  title="Reorder Field" aria-label="Reorder"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="separator"></td>
            <td class="separator"></td>
        </tr>
        <tr>
            <td class="td-border">
                <label for="inputNewField">Add New Field:</label>
                <select class="form-control" id="inputNewField">
                    <option value="single">Single Line Text</option>
                    <option value="date">Date</option>
                    <option value="dropdown">Dropdown</option>
                    <option value="checkbox">Checkboxes</option>
                    <option value="radio">Radio Buttons</option>
                    <option value="paragraph">Paragraph Text Field</option>
                </select>
            </td>
            <td class="td-border td-mb">
                <a class="rm-background" href="form-fields.view.html">
                            <span class="glyphicon glyphicon-big glyphicon-plus"
                                  title="Add Field" aria-label="Add"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
