/*
 * Logo Size
 */
.logo-size {
    width: 200px;
}

/*
 * Remove brand top and bottom padding
 */
.brand {
    padding-top: 0;
    padding-bottom: 0;
}

/*
 * Add padding top on nav
 */
.nav-lower {
    padding-top: 15px;
}

/*
 * Slogan Format
 */
.slogan {
    font-size: 4em;
}

/*
 * Resize slogan
 */
@media only screen and (max-width: 768px) {
    .font-1 {
        font-size: 30px;
    }
}

/*
 * New button
 */
.btn-new {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: 180px;
    background-color: transparent;
    color: white;
}

/*
 * Sets base style for each page
 */
html,
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../img/cool-background.jpg);
}

/*
 * Label text alignment
 */
.label-black {
    color: #666666;
}

/*
 * Checkbox alignment
 */
@media (min-width: 768px) {
    .ckb-left {
        text-align: left;
    }
}

/*
 * Draw a separator line
 */
.separator {
    margin-top: 20px;
    border-top: 1px solid #cccccc !important;
}

/*
 * Font
 */
.font-black {
    color: #666666;
    font-weight: 400;
    font-size: small;
    margin-right: 10px;
}

.font-blue {
    color: dodgerblue;
    font-weight: 400;
    font-size: small;
    margin-left: 10 px;
}