/*
 * Logo Size
 */
.logo-size {
    width: 200px;
}

/*
 * Remove brand top and bottom padding
 */
.brand {
    padding-top: 0;
    padding-bottom: 0;
}

/*
 * Add padding top on nav
 */
.nav-lower {
    padding-top: 15px;
}

/*
 * Slogan Format
 */
.slogan {
    font-size: 4em;
}

/*
 * Resize slogan
 */
@media only screen and (max-width: 768px) {
    .font-1 {
        font-size: 2em;
    }
}

/*
 * New button
 */
.btn-new {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    width: 12em;
    background-color: transparent;
    color: white;
}

/*
 * Sets base style for each page
 */

/*html,*/
/*body {*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*!*background-image: url(../img/cool-background.jpg);*!*/
/*}*/

/*
 * Label text alignment
 */
.label-black {
    color: #666666;
}

@media (min-width: 768px) {
    .ckb-left {
        text-align: left;
    }
}

@media (max-height: 40em) and (min-width: 768px) {
    .vertical-centering {
        margin: 8em auto 0;
    }
}

/*
 * Draw a separator line
 */
.separator {
    margin-top: 1em;
    border-top: 1px solid #cccccc !important;
}

/*
 * Font
 */
.font-black {
    color: #666666;
    font-weight: 400;
    font-size: small;
    margin-right: 1em;
}

.font-blue {
    color: dodgerblue;
    font-weight: 400;
    font-size: small;
    margin-left: 1em;
}

/*
 * Label text alignment
 */
.txt-just {
    color: #666666;
    text-align: right;
}

/*
 * Text size xx-large
 */
.size-xx {
    font-size: xx-large;
}

/*
 * Text size xx-large
 */
.size-x {
    font-size: x-large;
}