/*
 * Logo Size
 */
.logo-size {
    width: 200px;
}

/*
 * Remove brand top and bottom padding
 */
.navbar-brand
{
    padding-top: 0;
    padding-bottom: 0;
}

/*
 * Make the navbar lower
 */
.bar-top {
    margin-top: 30px;
}

/*
 * Transparent navbar background
 */
.navbar {
    background: transparent;
    border-color: transparent;
}

/*
 * Center search box
 */
.search {
    padding-top: 5px;
    text-align: center;
}

.btn {
    background-color:orange;
    color: #ffffff !important;
    height: 50px;
}