<div class="inner cover">
    <h1 class="cover-heading slogan font-1">Hire expert freelancers for your online job</h1>
    <p class="lead">Millions of small businesses use Freelancer to turn their ideas into reality.</p>
    <p class="lead">
        <a href="{{link1}}" class="btn btn-lg btn-default btn-new" ng-click="getLink('hire')">
            I want to Hire</a>
        <a href="{{link2}}" class="btn btn-lg btn-default btn-new" ng-click="getLink('work')">
            I want to Work</a>
    </p>
</div>

