<div class="masthead clearfix" ng-controller="HeaderController">
    <div class="inner">
        <a href="#/"><img class="masthead-brand logo-size" ng-src="{{imageSource}}"></a>
        <nav class="nav-lower">
            <ul class="nav masthead-nav">
                <li ng-hide="user">
                    <a href="#/login" ng-style="{'color': txtColor}">Login</a>
                </li>
                <li ng-hide="user">
                    <a href="#/signup" ng-style="{'color': txtColor}">Sign Up</a>
                </li>
                <li ng-hide="user.type=='freelancer'">
                    <a ng-href="{{link}}" ng-style="{'color': txtColor}">Post a Project</a>
                </li>
                <li ng-show="user">
                    <a href="#/home" ng-style="{'color': txtColor}" ng-click="logout()">Logout</a>
                </li>
            </ul>
            <!--<form class="navbar-form search" id="searce" role="search">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
            <!--</form>-->
        </nav>
    </div>
</div>